/* body {
    background-color: #5d0e0e;
} */

.stApp {
    /* max-width: 400px;
    padding: 20px;
    margin: 0 auto; */
    /* background-color: #e44747; */
    /* border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}